.root{
    width: 100%;
    
}

.timer {
    font-size:32px;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-top: 50px;
    padding:10px;
}

// .images{
//    display: flex;
//    justify-content: center;
// }

.filter {
    display: flex;
    justify-content: space-between;
}

.preview {
    margin-right: 20px;

    img {
        object-fit: cover;
    }
}