.root {
    width: 100%;
}

.header {
    height: 214px;
    padding-top: 60px;
    padding-bottom: 30px;
    background: #f8faff;
}

.miniContainer {
    width: 100%;
    max-width: 357px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}