.root{
    width: 100%;
    height:600px;
    display: flex;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    gap: 150px;
    border: 1px solid #e3e3e3;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 30px;

}