.root {
    width: 100%;
}

.wrapper {
    margin-top: 100px;
    display: flex;
   justify-content: space-between;
}

.mainSection {
    display: flex;
    gap:15px;
    padding:15px;

}

.imageSection {
    max-width: 400px;
    height: 300px;
    padding:15px;
    border: 1px solid rgb(227, 227, 227);
}

.itemName {
    font-size:32px;
    margin:0 0 32px 0;
}


.bidSection {
    max-width: 510px;
    width: 100%;
    background: rgb(251, 246, 244);
    border: 1px solid rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    opacity: 1;
    transition: opacity 0.1s ease-in 0s;
   
}

.bidContent {
    flex: 1 1 auto;
    padding: 32px;
}

.bidStatus {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.price {
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
    color: rgb(33, 22, 20);
    margin-right: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.timer {
    font-size:32px;
}