.root{
    width: 100%;
    margin-top: 50px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding:15px;
}

.filter {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
}  

.switch {
    padding:10px;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
}


.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    padding:10px;
}

.auctionBlock{
    width: 100%;
    margin-top: 10px;
    max-width: 450px;
}

.images{
    display: flex;
    position:relative;
    justify-content: center;
    height:200px;
    border: 1px solid rgb(227, 227, 227);
}

.deleteIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    :hover{
        cursor: pointer;
    }

}

.info{
    display: flex;
    flex-direction: column;
    padding:10px;
    border-top:none;
    border-right: 1px solid rgb(227, 227, 227);
    border-bottom: 1px solid rgb(227, 227, 227);
    border-left: 1px solid rgb(227, 227, 227);
}

.infoBlock{
    height:24px;
    display: flex;
}

.infoName{
font-size: 15px;
color: rgb(33, 22, 20);
}
.infoDate{
    font-size: 12px;
    line-height: 18px;
    color: rgb(101, 101, 101);
}


.timer{
    font-size: 30px;
}