.root{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}

.auctionBlock{
    width: 100%;
    margin-top: 10px;
    max-width: 450px;
  
}

.image{
    display: flex;
    justify-content: center;
    position: relative;
    height:200px;
    padding:10px;
    border: 1px solid rgb(227, 227, 227);
}

.deleteIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    :hover{
        cursor: pointer;
    }

}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    border-top:none;
    border-right: 1px solid rgb(227, 227, 227);
    border-bottom: 1px solid rgb(227, 227, 227);
    border-left: 1px solid rgb(227, 227, 227);
}

.infoBlock{
    height:24px;
    display: flex;
}

.infoName{
font-size: 15px;
color: rgb(33, 22, 20);
}
.infoDate{
    font-size: 12px;
    line-height: 18px;
    color: rgb(101, 101, 101);
}