*,
::after,
::before {
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #303e65;
  font-family: "Work Sans", Arial, sans-serif;
}

.root {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}